.body {
    margin:50px;
    padding:0;
}
.container-fluid {
    width: auto;
    margin-top:115px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
div {
    border:none;
}
.card {
    background-color:none;
    margin: 15px;
    border: none;
}
.card-body {
    padding-top:40px;
}
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding:0;
    background:#ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    z-index: 9999;
}
.navbar-brand {
    text-align:center;
    color:rgb(66, 110, 168);
    font-size: 48px;
    font-weight:bolder;
    margin-left:100px;
    margin-right:100px;
}
.navbar-brand small {
    display:block;
    font-size:18px;
  }
.navbar ul li {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    color:#426ea9;
    background: #ffffff;
    margin-left:10px;
    margin-right:15px;
}
.navbar ul li a:hover{
    background-color: rgb(180, 180, 180);
    border-radius:3%;
}
.navbar ul li a {
    border: none;
}
.dropdown-menu {
    border:none;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding:50px;
    width: 100%;
    border-top-style: solid;
    background-color: rgb(66, 110, 168);
    color: white;
    text-align: center;
}
.footer a {
    text-decoration: none;
    color: white;
    font-size:15px;
}
/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 300px) {
    .navbar li {
      padding: 10px;
    }
    .navbar ul {
      visibility: hidden;
    }
}
